.one{
   height:400px;
   width:400px;
   padding: 50px;
   border: 1px solid black;
   box-sizing: border-box;
   margin:auto;
   margin-top:200px;
   outline: 1px solid black;
   animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {outline: 15px solid grey;}
  }
.output{
   height:0px;
   width:300px;
   padding: 50px;
   border: 1px solid black;
   box-sizing: border-box;
}
button{
    margin-top: 80px;
    margin-left: 80px;
}
p{
   font-size:50px;
   margin-top:-20px;
   margin-left: -2px;
}
#password
{
   font-size:xx-large;
}
@media screen and (max-width: 800px) {
   .one, .output, #password{
     width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
   }
}